body {
    margin: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../imagens/imagem1.jpg");
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
}

.container1 {
    text-align: center;
}

.container2 {
    text-align: center;
}

.label {
    margin: 5px 5px;
}

#result {
    color: rgb(238, 255, 0);
}

.calcular {
    background-color: #f00;
    color: #fff;
    border: 1px outset #ccc;
}

button:hover {
    background-color: #050;
    box-shadow: 5px 5px 10px #aaa;
}

button {
    margin: 1px 11px;
    border-radius: 5px;
    /* width: 80px; */
    height: 25px;
}

#altura1 {
    text-align: left;
}
